.iconSize{
    width: 25px;
        height: 25px;
}
.navlogoSize{
    width: 130px;
    height: 60px;
}

.navLinkstyle{
    /* font-family:Arial, Helvetica, sans-serif; */
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
     
        color: rgba(0, 0, 0, 0.8);
    
      
}
.btnStyle{
    width: 224px;
        height: 46px;
        color: white;
        /* background: linear-gradient(265.46deg, #00478a 46.32%, rgba(0, 19, 189, 0.47) 93.63%); */
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
}

.navbar-toggler-icon{
    color: black !important;
}


@media screen and (max-width: 720px) and (min-width: 320px) {
.email-section {
    display: block;
    margin-bottom: 10px;
}
.navbar-toggler-icon{
    color: black !important;
}
}