
/* .carousel-control-next-icon {
    background-image: url("../../../assets/image/slider arrow.png") !important;
    border: 1px solid rgb(246, 246, 246);
    border-radius: 50%;
} */

/* .carousel-control-prev-icon {
    background-image: url("../../../assets/image/slider arrow left.png") !important;
    border: 1px solid rgb(246, 246, 246);
    border-radius: 50%;
} */



