.App {
  text-align: center;
}

/* navbar css */

.headerlogo {
  width: 250px;
  height: 50px;
  object-fit: contain;
}

.textHover {
  color: #554A9B;
  font-weight: 600;
}

.textSecondary {
  color: #7e7878;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.primaryBgClr {
  background-color: #554A9B;
}

.primaryClr {
  color: #554A9B;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}